extends layout

block header
    b Akasha System

block main
    +link("/upload/", "upload", "Upload A Document")
    | 
    +link("/servers/", "hub", "Servers")
    | 
    +link("/users/", "account_circle", "Users")
    | 
    +link("/docs/", "article", "Documents")
    | 